{:input-objects
 {;;; User
  :user_create_input
  {:description "Input fields to create an account with."
   :fields      {:username         {:type (non-null :String)}
                 :email            {:type (non-null :String)}
                 :password         {:type (non-null :String)}
                 :confirm_password {:type        (non-null :String)
                                    :description "Password confirmation. Should be the same value that is `password`."}
                 :first_name       {:type :String}
                 :middle_name      {:type :String}
                 :last_name        {:type :String}}}

  :user_activation_input
  {:description "Input fields to activate a user account with."
   :fields
   {:uid             {:type        (non-null :UUID)
                      :description "UID of the account to activate."}
    :activation_hash {:type        (non-null :String)
                      :description "Associated activation hash for this account.
                                    Sent to the email provided by the user when creating their account."}}}

  :user_login_input
  {:description "Input fields to log a user in with."
   :fields
   {:username {:type        (non-null :String)
               :description "User's username."}
    :password {:type        (non-null :String)
               :description "User's password."}}}

  :user_query_input
  {:description "Input fields to query a user with."
   :fields
   {:username {:type        (non-null :String)
               :description "User's unique username."}}}


  ;; Facilities
  :facility_query_input
  {:description "Input fields to retrieve a facility by."
   :fields      {:name {:type        (non-null :String)
                        :description "Facility's unique name."}}}

  :facility_create_input
  {:description "Input fields to create a facility with."
   :fields      {:name {:type        (non-null :String)
                        :description "Facility's unique name."}}}

  ;; Tasks
  :task_create_input
  {:description "Input fields to create a task with."
   :fields
   {:title       {:type        (non-null :String)
                  :description "Title of this task. Short, provides overview of the task."}
    :description {:type        :String
                  :description "Long form description of the maintenance task."}}}

  :task_query_input
  {:description "Input fields to retrieve a task by."
   :fields      {:uid {:type        (non-null :UUID)
                       :description "Task's unique id as a UUID string."}}}

  :task_update_params
  {:description "Task fields that should be updated."
   :fields
   {:title       {:type        :String
                  :description "Updated task title."}
    :description {:type        :String
                  :description "Update task description."}
    :status      {:type :task_status}
    :assignee    {:type        :UUID
                  :description "Unique ID of the task's assignee as a UUID string."}}}

  :task_update_input
  {:description "Input fields to update a task with."
   :fields      {:uid    {:type        (non-null :UUID)
                          :description "Unique id of the task to update as a UUID string."}
                 :params {:type        (non-null :task_update_params)
                          :description "Task fields that should be updated."}}}}}
