{:objects
 {:User
  {:description "A user account registered in MainTraq."
   :fields
   {:uid         {:type        (non-null :UUID)
                  :description "Unique ID for this user as a UUID String."
                  :resolve     (:get :user/uid)}
    :email       {:type        (non-null :String)
                  :description "Unique email associated with this user."
                  :resolve     (:get :user/email)}
    :username    {:type        (non-null :String)
                  :description "Unique username associated with this user."
                  :resolve     (:get :user/username)}
    :first_name  {:type        :String
                  :description "User's first name, if available."
                  :resolve     (:get :user/first-name)}
    :middle_name {:type        :String
                  :description "User's middle name, if available."
                  :resolve     (:get :user/middle-name)}
    :last_name   {:type        :String
                  :description "User's last name, if available."
                  :resolve     (:get :user/last-name)}
    :full_name   {:type        :String
                  :description "User's full name, composed of their first, middle and last names, if available."
                  :resolve     :users/full-name}
    :activated   {:type        (non-null :Boolean)
                  :description "Activation status of this user account."
                  :resolve     (:get :user/activated)}
    :role        {:type        (non-null :role)
                  :description "This user's account role."
                  :resolve     :users/role}}}

  :AuthToken
  {:description "An authentication token object."
   :fields      {:token {:type        (non-null :String)
                         :description "The authentication JWT token."}}}

  :Facility
  {:description "Object representation of a physical space, e.g. a building."
   :fields
   {:uid  {:type        (non-null :UUID)
           :description "Unique ID for this Facility as a UUID string."
           :resolve     (:get :facility/uid)}
    :name {:type        (non-null :String)
           :description "Name of the Facility. Expected to be unique."
           :resolve     (:get :facility/name)}}}

  :Task
  {:description "A maintenance Task."
   :fields
   {:uid         {:type        (non-null :UUID)
                  :description "Unique ID for this Task as a UUID string."
                  :resolve     (:get :task/uid)}
    :title       {:type        (non-null :String)
                  :description "Title of this task. Short, provides overview of the task."
                  :resolve     (:get :task/title)}
    :description {:type        :String
                  :description "Long form description of the maintenance task."
                  :resolve     (:get :task/description)}
    :status      {:type        (non-null :task_status)
                  :description "The status of this maintenance task."
                  :resolve     :tasks/status}
    :requester   {:type        (non-null :User)
                  :description "User who requested this maintenance task."
                  :resolve     (:get :task/requester)}
    :assignee    {:type        :User
                  :description "User assigned to this task. This user must be a maintainer."
                  :resolve     (:get :task/assignee)}}}}}
