{:queries
 ;; Users
 {:user {:type        :User
         :description "Query a single user by their unique identifier."
         :args        {:input {:type (non-null :user_query_input)}}
         :resolve     :users/retrieve}


  ;; Facilities
  :facilities {:type        (list :Facility)
               :description "List all known Facilities."
               :resolve     :facilities/enumerate}

  :facility {:type        :Facility
             :description "Query a single known facility by its name."
             :args        {:input {:type (non-null :facility_query_input)}}
             :resolve     :facilities/retrieve}


  ;; Tasks
  :tasks {:type        (list :Task)
          :description "List all Tasks."
          :resolve     :tasks/enumerate}

  :task {:type        :Task
         :description "Retrieve a single task by its unique id."
         :args        {:input {:type (non-null :task_query_input)}}
         :resolve     :tasks/retrieve}}}
